<div class="left-card window-height">
  <div class="container">
    <div class="row">
      <div class= "col-xs-12">
        <h1><%= @user.name %></h1>
      </div>
    </div>
    <div class="row">
      <div class= "col-xs-12 col-sm-4">
          <%= image_tag @user.picture.url(:medium) %>
        <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
      </div>
      <div class= "col-xs-12 col-sm-4">
        <h3><i class="fa fa-usd"></i>  Rent your flat</h3>
        <ul>
          <% current_user.apartments.each do |apartment| %>
            <li>
              <%= link_to apartment.title, apartment_path(apartment) %>
            </li>
            <% end %>
        </ul>
        <p><%= link_to "Add an apartment", new_apartment_path %></p>
      </div>
      <div class= "col-xs-12 col-sm-4">
        <h3><i class="fa fa-suitcase"></i>  Your vacation</h3>
        <ul>
          <% current_user.reservations.each do |reservation| %>
            <li><%= link_to reservation.apartment.title, reservation_path(reservation) %> :
                <%= reservation.checkin_on %> - <%= reservation.checkout_on %>
            <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>

