<div class="left-card">
  <div class="container">
    <div class="row">
      <div class= "col-xs-12">
        <h1><%= @user.name %></h1>
      </div>
    </div>
    <div class="row">
      <div class= "col-xs-12 col-sm-4">
          <%= image_tag @user.picture.url(:medium) %>
        <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
      </div>
      <div class= "col-xs-12 col-sm-4">
        <h3><i class="fa fa-usd"></i>  Rent your flat</h3>
        <ul>
          <% current_user.apartments.all.each do |apartment| %>
            <li>
              <% if current_user = apartment.user %>
              <%= link_to apartment.title, edit_apartment_path %>
              <% else link_to apartment.title, apartment_path %>
              <% end %>
            </li>
            <% end %>
        </ul>
          <p>List of apartments + ouverture vers proposition de location et possibilité de cocher
          </p>
        <p><%= link_to "Add an apartment", new_apartment_path %></p>
      </div>
      <div class= "col-xs-12 col-sm-4">
        <h3><i class="fa fa-suitcase"></i>  Your vacation</h3>
        <ul>
          <li>
            <% current_user.reservations.all.each do |reservation| %>
            <%= reservation.apartment.title %> :
            <%= reservation.state %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

