<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="reservation-form">
      <h2>Your reservation</h2>
        <p><%= @reservation.apartment.title %></p>
        <p><%= @reservation.apartment.address %></p>
        <p>From : <%= @reservation.checkin_on %></p>
        <p>To : <%= @reservation.checkout_on %></p>
        <div>
        <%= link_to "Return to profile", user_path(current_user) %>
        </div>
        <div>
        <%= link_to "Cancel Reservation", reservation_path(@reservation), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  </div>
</div>
