
<!-- missing search, set margin from cards properly -->

<div class="row">
  <div class="col-xs-6">
    <div class="col-sm-2 col-md-12">
      <div id="search-index">
        <div class="entire-form">
          <form class= "form-inline">
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-search">Dates</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Check-in">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Check-out">
            </div>
          </form>
        </div>
        <div class="col-sm-2 col-md-12">
          <div class="entire-form">
            <form class= "form-inline">
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-search">Room type</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Check-in">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Check-out">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% @apartments.each do |apartment| %>
      <div class="col-sm-2 col-md-6">
        <div class="card">
          <% if apartment.picture? %>
            <%= image_tag apartment.picture.url(:medium) %>
          <% else %>
            <%= image_tag 'http://placehold.it/300x250', class: "img-card" %>
          <% end %>
          <div class="description">
            <p><%= link_to apartment.title, apartment_path(apartment) %></p>
            <p><%= apartment.description%></p>
          </div>
          <div class="price-tag"><%=apartment.price%> $</div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xs-6">
    <div class="col-xs-12">
      <div class="map-center">
        <div id="map" style="width: 100%; height: 600px;"></div>

        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @markers.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });
            })
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- image_tag apartment.picture.url(:medium) -->
